<header>
  <nav>
    <div class="logo">
      Foodko
    </div>
  </nav>

  <div class="menu">
    <span (click)="openMenu()" id="btn-menu">&#9776;</span>
  </div>

  <nav id="enlaces" class="menuOff">
    <a routerLink="" routerLinkActive="router-link-active" (click)="clickDetected()" >Inicio</a>
    <a routerLink="" routerLinkActive="router-link-active" (click)="clickDetected()" >Nosotros</a>
    <a routerLink="" routerLinkActive="router-link-active" (click)="clickDetected()" >Contacto</a>
  </nav>
</header>
