.contenedor-popularfoods{
  width: 100%;
  min-height: 400px;
  margin-bottom: 20px;
}
.contenedor-popularfoods-contenido{
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


.contenedor-popularfoods__header{
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.contenedor-popularfoods__header h3{
  margin: auto 0;
  font-size: 2em;
  font-weight: bold;
}

.contenedor-popularfoods__header ul{
  width: 30%;
  list-style: none;
  margin: auto 0;

  display: flex;
  justify-content: space-between;
}

.contenedor-popularfoods__contenido{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.caja-post{
  width: 100%;
}

.caja-post-imagen{
  // background-color:#F7ECD6;
  width: 100%;
  min-height: 120px;
  border-radius: 18px;
}
.caja-post-imagen img{
  width: 100%;
  border-radius: 18px;
}

.caja-post-contenido{
  margin-top: 10px;
}

.caja-post-contenido h3{
  font-weight: bold;
  margin-bottom: 0px;
}

/* ------------------------------------------------ */
              /* Responsive Desing */
/* ------------------------------------------------ */

@media screen and (max-width: 768px) {
  .contenedor-popularfoods__contenido{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .contenedor-popularfoods__header ul{
    width: auto;
  }
  .contenedor-popularfoods__header ul li{
    margin-right: 10px;
  }
  .contenedor-popularfoods__header ul li:last-child{
    margin-right: 0px;
  }
}

@media screen and (max-width: 468px) {
  .contenedor-popularfoods__header{
    display: flex;
    flex-direction: column;
  }
  .contenedor-popularfoods__contenido{
    display: flex;
    flex-direction: column;
  }
  .caja-post{
    margin-top: 20px;
  }
}
