<section class="otrosproductos">
  <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
  <div class="otrosproductos-contenido">

    <div class="carta-producto">
      <div class="carta-producto__imagen">
        <img src="https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590_960_720.jpg" alt="" srcset="">
      </div>
      <div class="carta-producto__contenido">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas quam animi doloribus. Placeat maiores dolorem laboriosam odit cumque
      </div>
    </div>

    <div class="carta-producto">
      <div class="carta-producto__imagen">
        <img src="https://cdn.pixabay.com/photo/2014/11/05/15/57/salmon-518032_960_720.jpg" alt="" srcset="">
      </div>
      <div class="carta-producto__contenido">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas quam animi doloribus. Placeat maiores dolorem laboriosam odit cumque
      </div>
    </div>

    <div class="carta-producto">
      <div class="carta-producto__imagen">
        <img src="https://cdn.pixabay.com/photo/2015/12/09/17/11/vegetables-1085063_960_720.jpg" alt="" srcset="">
      </div>
      <div class="carta-producto__contenido">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas quam animi doloribus. Placeat maiores dolorem laboriosam odit cumque
      </div>
    </div>

  </div>
  <button>See more</button>
</section>
