<footer>
  <div class="footer-contenido">
    <nav>
      <span class="logo">Foodko</span>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro minus ipsa non earum eaque.</p>

      <div class="contenedor-redes">
        <div class="redsocial">
          <img src="https://img.icons8.com/android/144/000000/twitter.png"/>
        </div>
        <div class="redsocial">
          <img src="https://img.icons8.com/metro/104/000000/instagram-new.png"/>
        </div>
        <div class="redsocial">
          <img src="https://img.icons8.com/ios-filled/150/000000/youtube-play.png"/>
        </div>
        <div class="redsocial">
          <img src="https://img.icons8.com/metro/26/000000/facebook-new--v2.png"/>
        </div>
      </div>
    </nav>
    <nav>
      adosjdopas dasj dias di asi dsa dias diuasudas dias dpas disa
    </nav>
    <nav>
      adosjdopas dasj dias di asi dsa dias diuasudas dias dpas disa
    </nav>
  </div>
  <div class="footer-copyright">
    Derechos reservados. By  <a href="https://www.instagram.com/josecortezz16/">José</a>
  </div>
</footer>
