<div class="contenedor-infoprincipal">

  <div class="caja-comida">
    <div class="caja-comida__imagen">
      <img src="https://img.icons8.com/doodle/192/000000/hamburger.png"/>
    </div>
    <p>Comidas rapidas</p>
  </div>

  <div class="caja-comida">
    <div class="caja-comida__imagen">
      <img src="https://img.icons8.com/cotton/128/000000/cucumber--v2.png"/>
    </div>
    <p>Comidas saludables</p>
  </div>

  <div class="caja-comida">
    <div class="caja-comida__imagen">
      <img src="https://img.icons8.com/plasticine/100/000000/banana-split.png"/>
    </div>
    <p>Lorem ipsum</p>
  </div>

  <div class="caja-comida">
    <div class="caja-comida__imagen">
      <img src="https://img.icons8.com/color/144/000000/sandwich.png"/>
    </div>
    <p>Lorem ipsum</p>
  </div>

</div>
